@font-face {
  font-family: 'tseoindexing';
  src:
    url('fonts/tseoindexing.ttf?t3lbrd') format('truetype'),
    url('fonts/tseoindexing.woff?t3lbrd') format('woff'),
    url('fonts/tseoindexing.svg?t3lbrd#tseoindexing') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tseoindexing' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tseoindexing-pencil:before {
  content: "\e905";
}
.tseoindexing-film:before {
  content: "\e913";
}
.tseoindexing-paste:before {
  content: "\e92d";
}
.tseoindexing-database:before {
  content: "\e964";
}
.tseoindexing-spinner:before {
  content: "\e97a";
}
.tseoindexing-cogs:before {
  content: "\e995";
}
.tseoindexing-stats-dots:before {
  content: "\e99b";
}
.tseoindexing-fire:before {
  content: "\e9a9";
}
.tseoindexing-sphere:before {
  content: "\e9c9";
}
.tseoindexing-earth:before {
  content: "\e9ca";
}
.tseoindexing-link:before {
  content: "\e9cb";
}
.tseoindexing-eye:before {
  content: "\e9ce";
}
.tseoindexing-warning:before {
  content: "\ea07";
}
.tseoindexing-info:before {
  content: "\ea0c";
}
.tseoindexing-cancel-circle:before {
  content: "\ea0d";
}
.tseoindexing-cross:before {
  content: "\ea0f";
}
.tseoindexing-checkmark:before {
  content: "\ea10";
}
.tseoindexing-checkmark2:before {
  content: "\ea11";
}
.tseoindexing-circle-right:before {
  content: "\ea42";
}
.tseoindexing-circle-left:before {
  content: "\ea44";
}
