$icomoon-font-family: "tseoindexing" !default;
$icomoon-font-path: "../fonts" !default;

$tseoindexing-pencil: unquote('"\\e905"');
$tseoindexing-film: unquote('"\\e913"');
$tseoindexing-paste: unquote('"\\e92d"');
$tseoindexing-database: unquote('"\\e964"');
$tseoindexing-spinner: unquote('"\\e97a"');
$tseoindexing-cogs: unquote('"\\e995"');
$tseoindexing-stats-dots: unquote('"\\e99b"');
$tseoindexing-fire: unquote('"\\e9a9"');
$tseoindexing-sphere: unquote('"\\e9c9"');
$tseoindexing-earth: unquote('"\\e9ca"');
$tseoindexing-link: unquote('"\\e9cb"');
$tseoindexing-eye: unquote('"\\e9ce"');
$tseoindexing-warning: unquote('"\\ea07"');
$tseoindexing-info: unquote('"\\ea0c"');
$tseoindexing-cancel-circle: unquote('"\\ea0d"');
$tseoindexing-cross: unquote('"\\ea0f"');
$tseoindexing-checkmark: unquote('"\\ea10"');
$tseoindexing-checkmark2: unquote('"\\ea11"');
$tseoindexing-circle-right: unquote('"\\ea42"');
$tseoindexing-circle-left: unquote('"\\ea44"');

