/** Admin Panel one column layout **/
.tseoindexing-admin-panel-all {
    background: $slate-50;
    padding: 2em;
    margin: 1em;

    display: flex;
    margin-top: 2em;
    background-color: $slate-50;
    padding: 20px;
    border: 1px solid $slate-100;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    width: 93% !important;

    .main-content {
        flex: content;
        padding: 0 0.8em;
        p {
            font-size: large;
        }
        .danger {
            padding: 1em 0.8em;
            margin: 1em;
            border-radius: 5px;
            border: 1px solid $red-200;
            background: $red-100;
            color: rgba($red-800, 0.8);
            font-size: 0.95rem;
        }
        .success {
            padding: 1em 0.8em;
            margin: 1em;
            border-radius: 5px;
            border: 1px solid $green-200;
            background: $green-100;
            color: rgba($green-800, 0.8);
            font-size: 0.95rem;
        }

        .checkbox {
            input[type="checkbox"] {
                position: absolute; 
                //left: -10px;
                display: none;

                + label {
                position: relative;
                width: 90px; // Tamaño del toggle
                height: 20px;
                padding-left: 4px;
                top: 0;
                cursor: pointer;
                display: inline-block;
                background-color: $gray-200; // Color gris desactivado
                border-radius: 3px; // Asegurarse que es la mitad de la altura para obtener bordes redondeados
                transition: background-color 0.3s;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 4px; // Espaciado vertical
                        left: 4px; // Espaciado horizontal
                        width: 11px; // Tamaño del círculo interno
                        height: 11px;
                        background-color: rgba($red-950, 0.5); // Color del círculo interno
                        border-radius: 50%; // Esto lo hace completamente redondo
                        transition: left 0.3s; // Transición suave cuando el checkbox es activado
                    }
                }

                &:checked + label {
                    background-color: $green-700; // Color verde activado
                    color: $slate-50;

                    &:before {
                        left: 75px; // Desplazar el círculo interno cuando esté activado
                    }
                }
            }
            span {
                color: $gray-500;
                font-weight: 600;
            }
            .update { 
                color: $slate-50;
                //padding-left: 8px;
            }
            .remove { 
                color: $red-700;
                //padding-left: 8px;
            }
        }

    }

    h1, h2, h3 {
        color: #333;
    }

    p {
        color: #666;
    }

    // Estilos para las tablas
    table.form-table {
        th {
            text-align: center;
        }
        td {
            text-align: center;
            vertical-align: middle;
            padding: 5px !important;
        }
        td.url {
            text-align: left !important;
        }
    }
}