/** Admin Panel one column layout **/
.tseoindexing-admin-panel-all {
    background: $slate-50;
    padding: 2em;
    margin: 1em;

    display: flex;
    margin-top: 2em;
    background-color: $slate-50;
    padding: 20px;
    border: 1px solid $slate-100;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    width: 93% !important;

    .main-content {
        flex: content;
        padding: 0 0.8em;
        p {
            font-size: large;
        }
        .button-panel {
            padding: 0;
            margin: 0;
            width: 0%;
        }
        .danger {
            padding: 1em 0.8em;
            margin: 1em;
            border-radius: 5px;
            border: 1px solid $red-200;
            background: $red-100;
            color: rgba($red-800, 0.8);
            font-size: 0.95rem;
        }
        .success {
            padding: 1em 0.8em;
            margin: 1em;
            border-radius: 5px;
            border: 1px solid $green-200;
            background: $green-100;
            color: rgba($green-800, 0.8);
            font-size: 0.95rem;
        }

        .status-null,
        .status-updated,
        .status-deleted {
            font-weight: 600;
            font-size: 0.75rem;
        }

        .status-null {
            color: $dark;
        }
        .status-updated {
            color: $green-600;
        }
        .status-deleted {
            color: $red-700;
        }

        .table_link_info {
            font-size: 0.85rem;
            padding: 0.5em;
            background: $bt_white;
            border: 1px solid $gray-300;
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    display: inline;
                    margin-right: 10px;
                    a {
                        color: $blue-600;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .status-null {
                color: $dark;
            }
            .status-updated {
                color: $green-600;
            }
            .status-deleted {
                color: $red-700;
            }
        }

        .checkbox {
            input[type="checkbox"] {
                position: absolute; 
                //left: -10px;
                display: none;

                + label {
                position: relative;
                width: 90px; // Tamaño del toggle
                height: 20px;
                padding-left: 4px;
                top: 0;
                cursor: pointer;
                display: inline-block;
                background-color: $gray-200; // Color gris desactivado
                border-radius: 3px; // Asegurarse que es la mitad de la altura para obtener bordes redondeados
                transition: background-color 0.3s;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 4px; // Espaciado vertical
                        left: 4px; // Espaciado horizontal
                        width: 11px; // Tamaño del círculo interno
                        height: 11px;
                        background-color: rgba($red-950, 0.5); // Color del círculo interno
                        border-radius: 50%; // Esto lo hace completamente redondo
                        transition: left 0.3s; // Transición suave cuando el checkbox es activado
                    }
                }

                &:checked + label {
                    background-color: $green-700; // Color verde activado
                    color: $slate-50;

                    &:before {
                        left: 75px; // Desplazar el círculo interno cuando esté activado
                    }
                }
            }
            span {
                color: $gray-500;
                font-weight: 600;
            }
            .update { 
                color: $slate-50;
                //padding-left: 8px;
            }
            .remove { 
                color: $red-700;
                //padding-left: 8px;
            }
        }

    }

    h1, h2, h3 {
        color: #333;
    }

    p {
        color: #666;
    }

    // Estilos para las tablas
    table.form-table {
        th {
            text-align: center;
        }
        td {
            text-align: center;
            vertical-align: middle;
            padding: 5px !important;
        }
        td.url {
            text-align: left !important;
        }
    }

    .wrap-console {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1em;
        .console {
            flex: 3;

            .url-send {
                margin-top: 1.8em;
                p {
                    padding: 0;
                    margin: 0;
                    font-size: 1rem;
                }
                .text-success {
                    color: $green-800;
                }
                .text-danger {
                    color: $red-800;
                }
            }

            textarea {
                width: 100%;
                height: 200px;
                padding: 8px;
                border: 1px solid $gray-300;
                border-radius: 3px;
            }

            .buttons-group {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                button {
                    padding: 0.3em 1em;
                    margin-top: 3px;
                    margin: 0;
                    margin-right: 10px;
                    font-size: 0.95rem;
                    border-radius: 5px;
                    cursor: pointer;
                    .danger {
                        border: 1px solid $red-200;
                        background: $red-100;
                        color: rgba($red-800, 0.8);        
                    }
                    .success {
                        border: 1px solid $green-200;
                        background: $green-100;
                        color: rgba($green-800, 0.8);
                    }
                }
                button:hover {
                    opacity: 0.8;
                }
                .primary {
                    border: 1px solid $slate-400;
                    background: $slate-300;
                    color: rgba($slate-800, 0.8);
                }
            }

        }
        .quota {
            flex: 2;
            border: 1px solid $slate-100;
            border-radius: 5px;
            background: $slate-50;
            margin-left: 1em;

            .table_console_info {
                font-size: 0.85rem;
                padding: 0.5em;
                background: $bt_white;
                border: 1px solid $gray-300;
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0px 0px;
                    li {
                        display: inline;
                        margin-right: 10px;
                        a {
                            color: $blue-600;
                            text-decoration: none;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }

    .wrap-console-response {
        display: block;
        align-content: center;
        align-items: center;

        .response {
            text-align: center;
            padding: 0.3em 1em;
            border-radius: 5px;
            border: 1px solid $gray-300;
            background: $bt_white;
            font-size: 0.95rem;
            color: $dark;

            .response-title {
                font-size: 1.8rem;
                .title-error {
                    color: $red-700;
                }
                .title-success {
                    color: $green-600;
                }
            }
            .response-message {
                font-size: 0.85rem;
            }
        }
        .show-raw-response {
            text-align: left;

            textarea {
                width: 100%;
                height: 200px;
                padding: 8px;
                border: 1px solid $gray-300;
                border-radius: 3px;
            }
        }
    }
}