@import "colors_palette";

$primary:       $bt_blue;
$secondary:     $bt_gray-600;
$success:       $bt_green;
$info:          $bt_cyan;
$warning:       $bt_yellow;
$danger:        $bt_red;
$light:         $bt_gray-100;
$dark:          $bt_gray-900;