/*! TSEO Indexing admin - Author: TSEO PRO - Version: 1.0.0 */
/** Loading overlay **/
.tseoindexing-admin-panel,
.tseoindexing-admin-panel-all {
  position: relative;
}
.tseoindexing-admin-panel #tseoindexing-loading-overlay,
.tseoindexing-admin-panel-all #tseoindexing-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 250, 252, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
}
.tseoindexing-admin-panel #tseoindexing-loading-overlay .centered-content,
.tseoindexing-admin-panel-all #tseoindexing-loading-overlay .centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tseoindexing-admin-panel #tseoindexing-loading-overlay.show,
.tseoindexing-admin-panel-all #tseoindexing-loading-overlay.show {
  display: flex;
}
.tseoindexing-admin-panel #tseoindexing-loading-overlay .tseoindexing-loading-spinner,
.tseoindexing-admin-panel-all #tseoindexing-loading-overlay .tseoindexing-loading-spinner {
  border: 4px solid #f1f5f9;
  border-top: 4px solid #1d4ed8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-top: 100px;
}
.tseoindexing-admin-panel #tseoindexing-loading-overlay span,
.tseoindexing-admin-panel-all #tseoindexing-loading-overlay span {
  margin-top: 50px;
  font-weight: bold;
  font-size: 28px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** Admin Panel two column layout **/
.tseoindexing-admin-panel {
  background: #f8fafc;
  padding: 2em;
  margin: 1em;
  display: flex;
  margin-top: 2em;
  background-color: #f8fafc;
  padding: 20px;
  border: 1px solid #f1f5f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 93% !important;
}
.tseoindexing-admin-panel .main-content {
  flex: 5;
  padding: 0 0.8em;
}
.tseoindexing-admin-panel .main-content p {
  font-size: large;
}
.tseoindexing-admin-panel .main-content .danger {
  padding: 1em 0.8em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid #fecaca;
  background: #fee2e2;
  color: rgba(153, 27, 27, 0.8);
  font-size: 0.95rem;
}
.tseoindexing-admin-panel .main-content .success {
  padding: 1em 0.8em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid #bbf7d0;
  background: #dcfce7;
  color: rgba(22, 101, 52, 0.8);
  font-size: 0.95rem;
}
.tseoindexing-admin-panel .main-content .checkbox input[type=checkbox] {
  position: absolute;
  display: none;
}
.tseoindexing-admin-panel .main-content .checkbox input[type=checkbox] + label {
  position: relative;
  width: 90px;
  height: 20px;
  padding-left: 8px;
  top: 0;
  cursor: pointer;
  display: inline-block;
  background-color: #e7e5e4;
  border-radius: 3px;
  transition: background-color 0.3s;
}
.tseoindexing-admin-panel .main-content .checkbox input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 8px;
  width: 15px;
  height: 15px;
  background-color: rgba(248, 250, 252, 0.5);
  border-radius: 50%;
  transition: left 0.3s;
}
.tseoindexing-admin-panel .main-content .checkbox input[type=checkbox]:checked + label {
  background-color: #15803d;
  color: #f8fafc;
}
.tseoindexing-admin-panel .main-content .checkbox input[type=checkbox]:checked + label:before {
  left: 75px;
}
.tseoindexing-admin-panel .main-content .checkbox span {
  color: #6b7280;
  font-weight: 600;
}
.tseoindexing-admin-panel .main-content .checkbox .update {
  color: #f8fafc;
  padding-left: 8px;
}
.tseoindexing-admin-panel .main-content .checkbox .remove {
  color: #b91c1c;
  padding-left: 8px;
}
.tseoindexing-admin-panel .sidebar {
  flex: 1;
  padding: 10px;
  border-left: 1px solid #e5e5e5;
  background-color: #f9f9f9;
}
.tseoindexing-admin-panel .sidebar h2, .tseoindexing-admin-panel .sidebar h3 {
  color: #333;
}
.tseoindexing-admin-panel .sidebar p {
  color: #666;
}
.tseoindexing-admin-panel .sidebar img {
  width: 100%;
  height: auto;
  border: 3px solid #f8fafc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
.tseoindexing-admin-panel h1, .tseoindexing-admin-panel h2, .tseoindexing-admin-panel h3 {
  color: #333;
}
.tseoindexing-admin-panel p {
  color: #666;
}
.tseoindexing-admin-panel .btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #0073aa;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.tseoindexing-admin-panel .btn:hover {
  background-color: #005a87;
}
.tseoindexing-admin-panel input[type=text],
.tseoindexing-admin-panel input[type=url],
.tseoindexing-admin-panel textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.tseoindexing-admin-panel input[type=checkbox] {
  margin-right: 5px;
}
.tseoindexing-admin-panel textarea {
  width: 100%;
  height: 200px;
}
.tseoindexing-admin-panel .button {
  margin-top: 1em;
}

/** Admin Panel one column layout **/
.tseoindexing-admin-panel-all {
  background: #f8fafc;
  padding: 2em;
  margin: 1em;
  display: flex;
  margin-top: 2em;
  background-color: #f8fafc;
  padding: 20px;
  border: 1px solid #f1f5f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 93% !important;
}
.tseoindexing-admin-panel-all .main-content {
  flex: content;
  padding: 0 0.8em;
}
.tseoindexing-admin-panel-all .main-content p {
  font-size: large;
}
.tseoindexing-admin-panel-all .main-content .danger {
  padding: 1em 0.8em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid #fecaca;
  background: #fee2e2;
  color: rgba(153, 27, 27, 0.8);
  font-size: 0.95rem;
}
.tseoindexing-admin-panel-all .main-content .success {
  padding: 1em 0.8em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid #bbf7d0;
  background: #dcfce7;
  color: rgba(22, 101, 52, 0.8);
  font-size: 0.95rem;
}
.tseoindexing-admin-panel-all .main-content .status-null,
.tseoindexing-admin-panel-all .main-content .status-updated,
.tseoindexing-admin-panel-all .main-content .status-deleted {
  font-weight: 600;
  font-size: 0.75rem;
}
.tseoindexing-admin-panel-all .main-content .status-null {
  color: #212529;
}
.tseoindexing-admin-panel-all .main-content .status-updated {
  color: #16a34a;
}
.tseoindexing-admin-panel-all .main-content .status-deleted {
  color: #b91c1c;
}
.tseoindexing-admin-panel-all .main-content .table_link_info {
  font-size: 0.85rem;
  padding: 0.5em;
  background: #fff;
  border: 1px solid #d1d5db;
}
.tseoindexing-admin-panel-all .main-content .table_link_info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.tseoindexing-admin-panel-all .main-content .table_link_info ul li {
  display: inline;
  margin-right: 10px;
}
.tseoindexing-admin-panel-all .main-content .table_link_info ul li a {
  color: #2563eb;
  text-decoration: none;
}
.tseoindexing-admin-panel-all .main-content .table_link_info ul li a:hover {
  text-decoration: underline;
}
.tseoindexing-admin-panel-all .main-content .table_link_info .status-null {
  color: #212529;
}
.tseoindexing-admin-panel-all .main-content .table_link_info .status-updated {
  color: #16a34a;
}
.tseoindexing-admin-panel-all .main-content .table_link_info .status-deleted {
  color: #b91c1c;
}
.tseoindexing-admin-panel-all .main-content .checkbox input[type=checkbox] {
  position: absolute;
  display: none;
}
.tseoindexing-admin-panel-all .main-content .checkbox input[type=checkbox] + label {
  position: relative;
  width: 90px;
  height: 20px;
  padding-left: 4px;
  top: 0;
  cursor: pointer;
  display: inline-block;
  background-color: #e5e7eb;
  border-radius: 3px;
  transition: background-color 0.3s;
}
.tseoindexing-admin-panel-all .main-content .checkbox input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  background-color: rgba(69, 10, 10, 0.5);
  border-radius: 50%;
  transition: left 0.3s;
}
.tseoindexing-admin-panel-all .main-content .checkbox input[type=checkbox]:checked + label {
  background-color: #15803d;
  color: #f8fafc;
}
.tseoindexing-admin-panel-all .main-content .checkbox input[type=checkbox]:checked + label:before {
  left: 75px;
}
.tseoindexing-admin-panel-all .main-content .checkbox span {
  color: #6b7280;
  font-weight: 600;
}
.tseoindexing-admin-panel-all .main-content .checkbox .update {
  color: #f8fafc;
}
.tseoindexing-admin-panel-all .main-content .checkbox .remove {
  color: #b91c1c;
}
.tseoindexing-admin-panel-all h1, .tseoindexing-admin-panel-all h2, .tseoindexing-admin-panel-all h3 {
  color: #333;
}
.tseoindexing-admin-panel-all p {
  color: #666;
}
.tseoindexing-admin-panel-all table.form-table th {
  text-align: center;
}
.tseoindexing-admin-panel-all table.form-table td {
  text-align: center;
  vertical-align: middle;
  padding: 5px !important;
}
.tseoindexing-admin-panel-all table.form-table td.url {
  text-align: left !important;
}

/** Pagination **/
.tseoindexing-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.tseoindexing-pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  padding: 10px;
  background-color: #f1f5f9;
  color: #212529;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #e2e8f0;
}
.tseoindexing-pagination a:hover {
  background-color: #e2e8f0;
  color: #212529;
  transition: background-color 0.3s;
}
.tseoindexing-pagination a:visited {
  color: #212529;
  transition: background-color 0.3s;
}
.tseoindexing-pagination .current {
  background-color: #fff;
  border: 2px solid #4ade80;
  color: #4ade80;
  margin: 0 3px;
  padding: 10px;
  border-radius: 5px;
  cursor: default;
}

/** Dashboard **/
.wrap-general-dashboard {
  margin: 1em;
}
.wrap-general-dashboard .options-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.wrap-general-dashboard .options-cards .card-service {
  border: 1px solid #d1d5db;
  background: #fff;
  border-radius: 8px;
  position: relative;
}
.wrap-general-dashboard .options-cards .card-service .card-service-body {
  padding: 2em;
  display: flex;
  flex-direction: column;
}
.wrap-general-dashboard .options-cards .card-service .card-service-body .dashicons {
  font-size: 3rem;
  color: #818cf8;
}
.wrap-general-dashboard .options-cards .card-service .card-service-body h3 {
  margin-top: 2em;
  font-size: 21px;
}
.wrap-general-dashboard .options-cards .card-service .card-service-body hr {
  border: 1px solid #000;
}
.wrap-general-dashboard .options-cards .card-service .card-service-body p {
  font-size: 15px;
  min-height: 180px !important;
}
.wrap-general-dashboard .options-cards .card-service .card-service-footer {
  justify-content: center;
  align-items: center;
  padding: 1em;
  background: #f8fafc;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #cbd5e1;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.wrap-general-dashboard .options-cards .card-service .card-service-footer {
  position: relative;
}
.wrap-general-dashboard .options-cards .card-service .card-service-footer input[type=checkbox] {
  position: absolute;
  left: -9999px;
}
.wrap-general-dashboard .options-cards .card-service .card-service-footer input[type=checkbox] + label {
  position: relative;
  width: 50px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  background-color: #e7e5e4;
  border-radius: 15px;
  transition: background-color 0.3s;
}
.wrap-general-dashboard .options-cards .card-service .card-service-footer input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: left 0.3s;
}
.wrap-general-dashboard .options-cards .card-service .card-service-footer input[type=checkbox]:checked + label {
  background-color: #4caf50;
}
.wrap-general-dashboard .options-cards .card-service .card-service-footer input[type=checkbox]:checked + label:before {
  left: 25px;
}
.wrap-general-dashboard .options-cards .card-service .card-service-footer span {
  color: #6b7280;
  font-weight: 600;
}
@media only screen and (max-width: 1800px) {
  .wrap-general-dashboard .options-cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }
}
@media only screen and (max-width: 1400px) {
  .wrap-general-dashboard .options-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
}
@media only screen and (max-width: 1300px) {
  .wrap-general-dashboard .options-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}
@media only screen and (max-width: 700px) {
  .wrap-general-dashboard .options-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
}
